<nav class="navbar navbar-expand-lg  navbar-dark "  style="background-color:black;">
 
    <button class="navbar-brand btn-block" (click)= "navigateTo('/')"> Home </button>
    <div class="btns" *ngIf="currentUser == Null">
      <div class="btn-group mr-3  cart-div">
        <button class="navbar-brand btn-block" (click)= "navigateTo('login')"> Login </button>
        <button class="navbar-brand btn-block" (click)= "navigateTo('register')"> Register </button>
        <button class="navbar-brand btn-block" (click)= "navigateTo('wishlist')"> Wish List </button>
      </div>
    </div>


    <div class="btn-group mr-3  cart-div" *ngIf="currentUser != Null">
      <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-primary align-right" ngbDropdownToggle>Welcome {{currentUser[0]}}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="btn btn-outline-primary btn-block" (click)="logOut()"> Log Out </button>
        </div>
      </div>
    </div>
    

    
    <div class="btn-group mr-3 ">
      <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button (click)="GetId()" class="btn btn-outline-primary align-right" ngbDropdownToggle>CART</button>
        <div class="dropdown-menu cart-items" ngbDropdownMenu >
          <label class="u"> Cart </label>
          <table class="table">
            <th class="cart-row">Product </th>
            <th class="cart-row"> Quantity </th>
            <tr>
              <td>
          <div class="cart d-inline-block" *ngFor="let id of ids">
              <img class="cart-img" src="{{ items[id-1]['img'] }}" alt="Card image cap">
          <label class=" cart-label btn "> {{items[id-1]['name']}} </label>
          <div class= cart-cancel >
              <button id ="{{id}}" (click)="removeCart()" class=" btn btn btn-danger"> X  </button>
            </div>
        </div>
      </td>
         <div *ngIf="count">
          <div class="cart d-inline-block "  *ngFor="let id of count">
          <td>
          <label class=" cart-label btn "> {{currentItems[id]['count']}} </label> 
         
      </td>
     
          </div>
          </div>
        </tr>
         <div> 
          <button class=" cart-but btn btn-outline-primary btn-block " (click)= "navigateTo('cp')"> Go to Cart </button>
         </div>
      
        </table>
        </div>
        
      </div>
    </div>


    
  </nav>