.cart{
padding:20px;

.u{
    background-color: aquamarine;
    border-radius: 20px;
    font-size: 35px;
    font-weight: bold;
    width:130px;
    padding:20px;
    text-align: center;
}

.cart-img{
    width:200px;
    height:200px;
}

}