<div class="log-div container">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="form-log">

<h1> LOGIN </h1>

    <div>

      <input id="email" type="email" class="log-group" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
  </div>
    
      <div>

      <input type="password" class="log-group" placeholder="Password" formControlName="password" required>

  </div>
    <div>
        <input type="submit" class="btn btn-warning but-form" value="Log in">
      </div>
  </div>


  </form>

</div>