.cart{
    padding:20px;
    
    .u{
        background-color: cadetblue;
        border-radius: 20px;
        font-size: 35px;
        font-weight: bold;
        width:130px;
        padding:20px;
        text-align: center;
    }
    
    .cart-img{
        width:200px;
        height:200px;
    }
    .lab-wish{
        background-color: cadetblue;
        padding: 20px;
        margin-right: 10px;
        border-radius: 15px;
        font-size: 25px;
        font-weight: bold;

    }
    
    }